{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/pr4.jpg' %}" style="width:100%">
		<div class="box-element product">
            <h6><strong>special offer</strong></h6>
            <span>Discount Up To 50%</span>
             <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-secondary add-btn" href="#">View</a>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/about-img.jpg' %}" style="width:100%">
		<div class="box-element product">
            <h6><strong>special offer</strong></h6>
            <span>Discount Up To 50%</span>
             <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-secondary add-btn" href="#">View</a>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/blog-2.jpg' %}" style="width:100%">
		<div class="box-element product">
            <h6><strong>special offer</strong></h6>
            <span>Discount Up To 50%</span>
             <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-secondary add-btn" href="#">View</a>
		</div>
	</div>
</div>

 <div class="row">
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-2.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
             <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">21.000 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-3.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">19.850 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-4.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">17.600 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-5.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">16.880 тг</h4>
		</div>
	</div>
	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-6.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">18.900 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-7.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">18.099 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-8.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">12.500 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/product-9.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">25.099 тг</h4>
		</div>
	</div>
     <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/pr3.jpg' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn-outline-secondary add-btn">Add to Cart</button>
             <a class="btn btn-outline-secondary add-btn" href="#">View</a>
            <h4 style="display: inline-block; float: right">15.000 тг</h4>
		</div>
	</div>

</div>

{% endblock content %}
